 /* White Secondary Logo */
 #companyIcon {
    height: 60px;
    align-self:flex-start ;
    padding:5px 0px 14px 0px;
  }

  
  #Ctittle{
    height: 35px;
    align-self: center ;
  }
  #navbarSupportedContent ul li  {
    padding:0px 10px 0px 10px;
    float:right;
  }


 
 
 